html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html, body {
    height: 100%;
}

canvas {
    display: block;
}

body {
    margin: 0;
}

#unity-container {
    width: 100%;
    height: 100%;
}

#unity-canvas {
    width: 100%;
    height: 100%;
    background: #ffffff;
}

#loading-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#unity-loading-bar {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#unity-logo {
    text-align: center;
}

#unity-logo img {
    max-width: 80%;
}

#unity-progress-bar-empty {
    width: 50%;
    height: 15px;
    margin: 10px 20px 20px 10px;
    text-align: left;
    border: 1px solid white;
    padding: 2px;
}

#unity-progress-bar-full {
    width: 0%;
    height: 100%;
    background: #00d274;
}

.light #unity-progress-bar-empty {
    border-color: black;
}

.light #unity-progress-bar-full {
    background: #00d274;
}

#unity-fullscreen-button {
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 38px;
    height: 38px;
    background: url('fullscreen-button.png') no-repeat center;
    background-size: contain;
}

.spinner,
.spinner:after {
    border-radius: 50%;
    width: 5em;
    height: 5em;
}

.spinner {
    margin: 10px;
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    border-top: 1.1em solid rgba(255, 255, 255, 0.2);
    border-right: 1.1em solid rgba(255, 255, 255, 0.2);
    border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
    border-left: 1.1em solid #00d274;
    transform: translateZ(0);
    animation: spinner-spin 1.1s infinite linear;
}

@keyframes spinner-spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
.start_container{
    display: block;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
}
.start-screen_background {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: white;
    z-index: 100;
}

@font-face {
        font-family: "Peace_Sans";
        src: url("Fonts/Peace_Sans.otf") format("otf"),
        url("Fonts/Peace_Sans.otf") format("otf");
}
.play_button {
    position: fixed;
    background-color: #46c54a;
    color: white;
  
    font-size: 28px;
    font-weight: 700;
    font-family: 'Peace_Sans','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 180px;
    height: 50px;

    text-align: center;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;

    top: 35%;
    left: 50%;
    transform: translateX(-50%);

    border:none;
    outline:none;
    border-radius: 5px;

    z-index: 150;
  
}

.play_button:hover{
    background-color: #4bdd50;
 text-align: center;
    width: 192px;
}

.play_button:active {
	width: 160px;
	background-color:#3f9441;
    transition: all 0.2s;
}



.group_image_button{

    display: block;
    position: fixed;
    background-color: white;

    height: 128px;
    width: 128px;

    left: 50%;
    transform: translateX(-50%);

    bottom: 25%;
    padding: 0px;

    overflow: hidden;

    border: none;
    outline: none;
    
    border-radius: 5px;
    
    z-index: 150;

}

.group_image_button:hover{
    outline:auto;
    outline-color: #4bdd50;
}
.group_image_button:active{
    outline:auto;
    outline-color: #3f9441;
    transition: all 0.2s;
}

.group_avatar{
    display: block;
    position: fixed;
    width: 128px;
    height: 128px;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
}